
@font-face {
    font-family: jetBrains;
    src: url('assets/JetBrainsMono-Medium.ttf');
}

*{
    color: white;
    font-family: jetBrains;
}
a{
    text-decoration: none;
}

.wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 150vh;
    width: 100%;
    perspective: 10px;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;


}

body {
    overflow:hidden;
    margin: 0;
    max-width: 100%;



    
}

.container {
    height: 100%;
    margin-top: 0;
    transform: translateZ(-1000px) scale(102);
    z-index: -1;
    position: relative;
    overflow:hidden;
    display:flex;

}

.fuzzy-overlay{
    position: absolute;
    inset: -200%;   
    background-image: url(assets/noise.png);
    opacity: 8%;
    animation: shift 0.2s linear infinite both;
    pointer-events: none;
}

#text {
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
    margin: 3rem;
    margin-left: 12vw;
}

.letters {
    display: flex;
    flex-direction: row;
}

#text span {
    display: inline-block;
    opacity: 0;
    animation: appear 0.1s forwards;
    font-size: 1.2rem;
    color: rgb(9, 227, 49);
    text-shadow: -3px 27px 9px rgba(0,0,0,1);
}

#text p{
    font-size: 1.2rem;
}

#text p span{
    color: rgb(47, 42, 215);
}

.fetch .emblem{
display: flex;
font-size: 0.9rem;
max-width :100%;
margin-left: 12vw;

}

.emblem span{
    opacity: 0;
    font-size: 1.5em;
}

#clickable{
    cursor:pointer;
}
#clickable:hover{
    text-decoration: underline;
}


#username{
    color:rgb(45, 159, 45);
}
span{
    animation: appear 0.1s linear forwards 5s;
}
.specs{
margin-left: 10vw;
margin-top: 5rem;
}

.red{ 
    color: rgb(141, 48, 48);
    font-size: 1.5rem;
    font-weight: bolder;
}
.turqoiuse {
    color: rgb(42, 206, 179);
 
}





footer {
    transform: translateZ(2px);
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 0;
}




.second-page{
    width: 79.9vw;
    margin-left:10vw;
    margin-top :0;
    top: 0;
    z-index: 3;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 18, 18);

    
}
nav{
    height: 40px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.74);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    padding: 1%;
    opacity: 0;
    transition: opacity .3s ease, height .3s ease, padding .3s ease;
}
.current-section{
    color:blue;
}
.nav-visible{
    opacity: 100%;
    transition: opacity .3s ease, height .3s ease, padding .3s ease;
} 


nav button{
    font-weight: bolder;
    margin-right: 3em;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color:rgb(163, 49, 49);
    transition: transform 0.3s ease-in-out;
    font-size: 120%;
}
#github-logo{
    height:2rem;
}
nav button:hover{
    color:rgb(255, 255, 255);
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    transform: scale(1.01);
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
}


.second-page #about-section{

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

}

.second-page .main-about{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    width: 60vw;
    padding: 0;
    z-index: 5;
    
}

#about-section{
    flex: 1;
}
.main-about #icons{
    flex: 1;
}

#about-section #avatar{
    max-width: 40%;
    height: auto;
    border-radius: 10%;
    margin-bottom: 5vh;
    transition: transform 0.3s ease-in-out;
    

}
.about-text p{
    font-size: 1rem;

}

#icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vh;
    height: auto;
    padding-top:30vh;
    padding-bottom: 50vh;
    padding-left: 10%;

}

#about-section #avatar{
    height: 25vh;
    margin-top: 5%;
    width: auto;

}
#icons img{
    min-width: 5vh;
    max-width: 10vh;
    width: auto;
    transition: transform 0.3s ease-in-out;
}
#icons img:hover{
    transform: scale(1.2);
}

#about-section img:hover{
    transform: scale(1.1);
}

.hidden-right {

    opacity: 0;
    transition: all 2s;
}
.hidden-left{
    opacity: 0;
    transition: all 2s;
    
}
.show-left{
    opacity: 1;
    animation: slide-leftwards 2s ease-in-out forwards;
}
.show-right {
    opacity: 1;
    animation: slide-rightwards 1.5s ease-in-out forwards;
}






h2{
    padding: 0;
    margin: 0;
    /* display: flex;
    justify-content: center;
    font-weight: bolder; */
    text-align: center;
    margin-bottom: 10vh;
    font-size: 5vh;
}
.page-3 h2{
    margin-top: 5%;
}

.page-3{
    background-color: rgb(129, 87, 87);
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    margin-top: -2vh;

}



#project-grid{
    position: relative;
    display: grid;
    height: 30%;
    width: 80%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center; 
    box-sizing: border-box;
    gap: 0.5rem;
}

.project-card{

    height: 15rem;
    max-width: 25rem;
    box-sizing: border-box;
    background-color: rgba(117, 117, 119, 0.878);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    overflow:hidden;
    position: relative;

}
.project-card img {
    height: 16rem;
    width: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
    z-index:2;

}

.project-card span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.project-card:hover img {
    opacity: 0;
}

#project-footer{
    margin-top: auto;
    width: 100%;
    height: 100px;
    position: relative;
}



.page-4{
    position: relative;
    bottom: 0;
    height: 120vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #000000, #0d0c0c, #161515, #1e1c1c, #252322);
    margin-top: -4vh;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;


}
.page-4 h2{
    color: rgb(45, 159, 45);
    margin-top: 2%;
}

.page-4 p{
    font-size: 2.5em;
}
.page-4 #contact-form{
    display:flex;
    flex-direction:column;
    padding: 2rem;
    border-radius: 10px;
    margin-top :10%;
    height: 40vh;
    width: 40%;
    justify-content: space-around;;
}
#contact-form input,
textarea{
    background-color:rgba(255, 255, 255, 0.096);
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 2em;
}
textarea{
    height: 20%;
    resize: none;
}
#contact-form button {
    height: 10%;
    width: 10vw;
    background-color: rgba(27, 54, 129, 0.466);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover{
    background-color: rgba(27, 54, 129, 0.795);
}
input:focus,
textarea:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.151);
}
label{
    margin-bottom: 0;
}


#left-side{
    margin-top: 10%;
    margin-right: 10%;
    height: auto;
}



/* Keyframes */

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes appear-slide {
    from {
        opacity: 0%;
        transform: translateY(-50%)
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}
@keyframes shift{
    from{
        transform: translateX(10%) translateY(10%);
    }
    to{
        transform: translateX(-10%) translateY(-10%);
    }
}
@keyframes slide-rightwards{
    from{
        transform: translateX(50%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes slide-leftwards{
    from{
        transform: translateX(-50%)
    }
    to{
        transform: translateX(0%)
    }
}
@keyframes smooth-background {
    from {
        background-color: rgb(71, 117, 202);
    }
    to {
        background-color: rgba(212, 207, 207, 0.89);
    }
}

/* SVGs */

.svg-area {
    position: absolute;
    width: 100%;
    bottom: 0;
}
#svg-area-1 {
    height: 50vh;
    background-color:rgb(78, 31, 31);
    z-index: 2;
    clip-path: url(#clip-2);

}
#svg-area-2 {
    height: 30vh;
    background-color:rgb(53, 18, 18);
    z-index: 3;
    clip-path: url(#clip-2);
}
#svg-area-3 {
    height: 45vh;
    background-color:rgb(99, 34, 34);
    z-index:2;
    clip-path: url(#clip-3);
}
#svg-area-4 {
    height: 50vh;
    background-color:rgb(55, 23, 23);
    z-index:1;
    clip-path: url(#clip-4);
}
#svg-area-5{
    height: 20vh;
    background-color:rgb(85, 40, 40);
    z-index:10;
    clip-path: url(#clip-5)
}
#svg-area-6{
    height: 10vh;
    background-color:rgb(122, 69, 69);
    z-index:10;
    clip-path: url(#clip-5)
}
#svg-area-7{
    height: 15vh;
    background-color:rgba(102, 86, 86, 0.575);
    z-index:10;
    clip-path: url(#clip-5)
}
#svg-area-8{
    height: 7vh;
    background-color:rgba(163, 109, 109, 0.322);
    z-index:10;
    clip-path: url(#clip-5)
}
#svg-area-9{
    height: 5vh;
    background-color:rgb(129, 87, 87);
    z-index:10;
    clip-path: url(#clip-5)
}
#svg-area-10{
    height: 40vh;
    background-color:rgb(114, 71, 71);
    z-index:6;
    clip-path: url(#clip-6)
}
#svg-area-11{
    height: 32vh;
    background-color:rgb(66, 47, 47);
    z-index:6;
    clip-path: url(#clip-7)
}
#svg-area-12{
    height: 28vh;
    background-color:rgb(46, 37, 37);
    z-index:6;
    clip-path: url(#clip-6)

}
#svg-area-13{
    height: 10vh;
    background-color:rgb(15, 13, 13);
    z-index:6;
    clip-path: url(#clip-7)
}
#svg-area-14{
    height: 10vh;
    background-color:rgb(0, 0, 0);
    z-index:6;
    clip-path: url(#clip-6)
}
.svg {
    position: absolute;
    width: 0;
    height: 0;
}


@media only screen and (max-width: 1280px) {
    /* PROJECTS */
    .page-3 {
        height: 150vh;
    }
    #project-grid{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media only screen and (max-width: 850px) {




    /* PROJECTS */
    .page-3 {
        height: 250vh;
        border:1px solid white;
    }
    .page-3 h2{
        font-size: 2rem;
    }
    #project-grid{
        grid-template-columns: 1fr;
    }

    /* CONTACT */

    .page-4{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 180vh;
        padding-right: 5rem;
        width: 100vw;
        display:absolute;
    }
    #contact-form input,
    textarea{
        background-color:rgba(255, 255, 255, 0.096);
        border: none;
        border-radius: 5px;
        width: 20rem;
        height: 2rem;
    }
    textarea{
        height: 5rem;
    }

    #contact-form button {
        width: 20rem;
    }

    #left-side{
        padding-left: 5rem;
    }
    
}
@media only screen and (max-width: 540px) {
    .page-4{
        padding-right: 8rem;
    }
}